*
*/**
**/.DS_Store
!src/mono-debug/bin/Debug/net472/**/*
!src/xamarin-util/bin/Debug/netcoreapp3.1/**/*
!out/extension.js
!node_modules/vscode-nls/**/*
!node_modules/vscode-debugprotocol/**/*
!package.json
!package.nls.json
!README.md
!CHANGELOG.md
!LICENSE.txt
!ThirdPartyNotices.txt
!images/*