<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="XamarinVsts" value="https://devdiv.pkgs.visualstudio.com/_packaging/Xamarin/nuget/v3/index.json" protocolVersion="3" />
		<add key="xamarin-impl" value="https://nugetized.blob.core.windows.net/xvs/index.json" />
		<add key="vs-impl" value="https://devdiv.pkgs.visualstudio.com/_packaging/vs-impl/nuget/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>